
<p-dialog [(visible)]="deleteDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Êtes-vous sûr(e) de vouloir supprimer ?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="confirmDelete('non')"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDelete('oui')"></button>
    </ng-template>
</p-dialog>
