
<div class="layout-sidebar" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="sidebar-header">
        <a [routerLink]="['/']" class="app-logo cursor-pointer">
            <svg viewBox="0 0 80 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="app-logo-normal">
                <text x="0" y="15" font-family="Arial" font-size="14" fill="url(#paint0_linear_7_2)">RH Devsty</text>
                <defs>
                    <linearGradient id="paint0_linear_7_2" x1="4.02237" y1="9.46943e-08" x2="8.24281" y2="16.4905" gradientUnits="userSpaceOnUse">
                        <stop stop-color="var(--primary-400)" />
                        <stop offset="1" stop-color="var(--primary-700)" />
                    </linearGradient>
                </defs>
            </svg>            
            <a class="mb-6">
                <svg width="180" height="300" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" class="app-logo-single h-2rem">
                    <text x="0" y="100" font-family="Arial" font-size="100" font-weight="bolder" fill="url(#paint0_linear)">RH</text>
                    <defs>
                        <linearGradient id="paint0_linear" x1="3.33335" y1="0" x2="8.49995" y2="20" gradientUnits="userSpaceOnUse">
                            <stop stop-color="var(--primary-400)" />
                            <stop offset="1" stop-color="var(--primary-700)" />
                        </linearGradient>
                    </defs>
                </svg>
            </a>               
        </a>
        <button class="layout-sidebar-anchor p-link" type="button" (click)="anchor()"></button>
    </div>

    <div #menuContainer  class="layout-menu-container">
        <app-menu></app-menu>
    </div>
</div>

