<div class="grid">
    <div class="col-12">
        <div class="card ">
            <p-toast></p-toast>
            <div class="card border-1 surface-border ">
                <div class="flex-column">

                    <!-------------------------- buttons ------------------------->


                    <div class=" grid   mt-0">
                        <div class="px-0 py-0 col">
                            <div class="row">
                                <h5 class="ml-3 mt-3">Aujourd'hui : {{ formatDate(date, 'date') }}
                                </h5>
                            </div>
                        </div>

                        <div class="px-0 py-0 col flex justify-content-end flex-wrap">
                            <button pButton pRipple type="button" icon="pi pi-upload" pTooltip="Export"
                                tooltipPosition="bottom"
                                class="p-button-outlined text-blue-800 fixed-height mr-2 mb-2"></button>
                            <button pButton pRipple label="Ajouter" (click)="visible = true ;  equipe = {}"
                                icon="pi pi-plus" class="p-button-success fixed-height mr-2 mb-2"></button>

                        </div>
                    </div>

                    <!-------------------------- buttons ------------------------->
                </div>
            </div>

            <!-------------------------- table ------------------------->

            <p-table #dataTable [paginator]="true" [value]="equipes" [columns]="SelectedCols"
                [tableStyle]="{'min-width': '60rem'}" [rows]="10" sortMode="single" responsiveLayout="stack"
                [loading]="loading" scrollHeight="flex" dataKey="id" [lazy]="true" [totalRecords]="totalRecords"
                (onLazyLoad)="onLazyLoad($event)" [rowsPerPageOptions]="[10 , 20 , 50]">

                <ng-template pTemplate="header" let-columns>
                    <tr>

                        <th *ngFor="let col of columns" [style.width.%]="col.width"
                            [pSortableColumn]="col.sortable ? col.field : null">
                            <div class="header-text">
                                {{ col.header }}
                                <p-sortIcon *ngIf="col.sortable" field="{{ col.field }}"></p-sortIcon>
                            </div>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-equip let-rowIndex="rowIndex">
                    <tr>
                        <td *ngFor="let col of SelectedCols">
                            <ng-container *ngIf="col.field !== 'chef' && col.field !== 'departement'">
                                {{ equip[col.field] }}
                            </ng-container>
                            <ng-container *ngIf="col.field === 'chef' && equip.chef_equipe ">
                                {{ equip.chef_equipe.username }}
                            </ng-container>
                            <ng-container *ngIf="col.field === 'departement' && equip.departement">
                                {{ equip.departement.nom }}
                            </ng-container>

                        </td>
                        <td><p-button icon="pi pi-pencil" [rounded]="true" severity="success" [outlined]="true"
                                (onClick)="visible = true ; equipe = equip " /></td>
                        <td><p-button icon="pi pi-trash" [rounded]="true" severity="danger" [outlined]="true"
                                (onClick)="confirmDeleteVisible = true ; equipe = equip  ; selectedchef = {} " /></td>
                    </tr>

                </ng-template>
            </p-table>

            <!-------------------------- Ajoute Pointage Dialog ----------------------->

            <p-dialog header="Ajouter équipe" [modal]="true" [(visible)]="visible"
            [style]="{ minWidth: '400px', maxWidth: '90vw', width: 'auto', height: 'auto' }">
            <div class="flex align-items-center gap-3 mb-3 mt-3">
                <label for="nom" class="font-semibold w-6rem">Nom</label>
                <input id="nom" type="text" pInputText [(ngModel)]="equipe.nom"
                    placeholder="Nom de l'équipe" />
            </div>
            <div class="flex align-items-center gap-3 mb-3">
                <label for="description" class="font-semibold w-6rem">Description</label>
                <textarea id="description" pInputTextarea [(ngModel)]="equipe.description" rows="3" placeholder="Description"></textarea>
            </div>
            <!-- <div class="flex align-items-center gap-3 mb-3">
                <label for="matriculeFiscale" class="font-semibold w-6rem">filtrer avec etablissement</label>
                <p-multiSelect [options]="Etabs" [(ngModel)]="selectedEtablissement"
                    (onChange)="filterusers($event)" optionLabel="name" placeholder="Select etablissement"
                    [appendTo]="'body'"></p-multiSelect>
            </div> -->
            <div class="flex align-items-center gap-3 mb-3">
                <label for="adresse" class="font-semibold w-6rem">Employees</label>
                <p-multiSelect [options]="usersEmp" [(ngModel)]="equipe.membres" optionLabel="username"
                    placeholder="Select name" [appendTo]="'body'"    (onFilter)="onFilterEmp($event)"></p-multiSelect>
            </div>
            <div class="flex align-items-center gap-3 mb-5">
                <label for="tel" class="font-semibold w-6rem">Chef d'equipe</label>
                <p-autoComplete [(ngModel)]="equipe.chef_equipe" [dropdown]="true" [suggestions]="chefusers"
                    (completeMethod)="filterCountry($event)" field="username" [appendTo]="'body'"></p-autoComplete>
            </div>
            <div class="flex align-items-center gap-3 mb-5">
                <label for="tel" class="font-semibold w-6rem">Departement</label>
                <p-autoComplete [(ngModel)]="equipe.departement" [dropdown]="true" [suggestions]="filtredDep"
                    (completeMethod)="filterDep($event)" field="nom" [appendTo]="'body'"></p-autoComplete>
            </div>
            <div class="flex justify-content-end gap-2">
                <p-button label="Annuler" severity="secondary" (click)="visible = false" />
                <p-button label="Sauvegarder" (click)="savedep()" />
            </div>
        </p-dialog>



            <!-------------------------- Delete Pointage Dialog ----------------------->

            <p-dialog header="Supprimer équipe" [modal]="true" [(visible)]="confirmDeleteVisible"
                [style]="{ width: '25rem' }">
                <div class="text-center">
                    <p>Êtes-vous sûr de vouloir supprimer ce équipe ?</p>
                </div>
                <div class="flex justify-content-around mt-4">
                    <p-button severity="secondary" label="Annuler" icon="pi pi-times" class="p-button-secondary"
                        (click)="confirmDeleteVisible = false"></p-button>
                    <p-button label="Confirmer" icon="pi pi-check" (click)="deletedep()"></p-button>
                </div>
            </p-dialog>
        </div>
    </div>
</div>