.input{
    width: 20px !important;
    }
    // :host ::ng-deep .p-toolbar
    // {
    //   background-color: #E5E7EB;
    // }
    th {
        background: #E5E7EB;
    }
    :host ::ng-deep .p-tabview{
        width: auto !important;
        height: auto!important;
    }
    :host ::ng-deep .p-menubar {
        // width: 20px !important;
        // height: 50px !important;
        border: none;    }
        .ui-tabview .ui-tabview-nav{
        background-color:  #cb2626;
    }
// .card{
// background-color: #fcfcfc;
// }
